<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <title><%= sails.config.settings.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Phản hồi nhanh, kênh phản hồi ý kiến, nơi lên tiếng cho cộng đồng" />
    <meta name="keywords" content="phản hồi, ý kiến, thông tin nhanh, phản hồi nhanh, feedback, lên tiếng, ủng hộ, phàn nàn" />
    <link rel="shortcut icon" href="" />

    <meta property="og:title" content="Phản hồi xyz" />
    <meta property="og:site_name" content="Phản hồi xyz"/>
    <meta property="og:url" content="http://phanhoi.xyz" />
    <meta property="og:description" content="Phản hồi nhanh, kênh phản hồi ý kiến, nơi lên tiếng cho cộng đồng" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="vi_VN" />

    <meta name="twitter:url" content="http://phanhoi.xyz" />
    <meta property="twitter:title" content="Phản hồi xyz" />
    <meta property="twitter:description" content="Phản hồi nhanh, kênh phản hồi ý kiến, nơi lên tiếng cho cộng đồng" />

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/v1/animate.min.css">
    <link rel="stylesheet" href="/styles/v1/fonts/fontello.css">
    <link rel="stylesheet" href="/styles/v1/green.css">
    <link rel="stylesheet" href="/styles/v1/main.css">
    <!--STYLES END-->

    <link rel="stylesheet" type="text/css" href="/lib/fontawesome/css/font-awesome.min.css" />

    <!-- Fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Roboto:400,900,300,700:latin,vietnamese', 
                    'Lato:400,900,300,700:latin,vietnamese',
                    'Source Sans Pro:400,700,400italic,700italic:latin,vietnamese'
                ]
            }
        };
        (function(d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '//ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!--[if lt IE 9]>
        <script src="/lib/html5shiv/dist/html5shiv.min.js"></script>
        <script src="/lib/respond/dest/respond.min.js"></script>
    <![endif]-->
    
    <% if (sails.config.settings.reCaptcha.active) { %><script src='https://www.google.com/recaptcha/api.js'></script><% } %>
    <script>
        window.__c = window.__c || {}; window.__d = window.__d || {}; 
        __c._csrf = '<%= _csrf %>';
        __c.require = ['lodash', 'requirejs', 'duyetdev_pingback', 'antiR','duyetdev_heatmap', 'ssl_validate', 'public_key'];
        __c.api_prefix = '<%= sails.config.settings.api_prefix %>';
        __c.active_responsive = <%= sails.config.settings.get('active_responsive') %>;
        __c.is_client = true;
        __c.system_build = '<%= sails.config.settings.system_build  %>';
        __c.user = {};
        __c.baseUrl = '<%= sails.getBaseurl() %>';
        __c.debug = <%= sails.config.settings.client_debug %>;
    </script>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="yamm">
                <div class="navbar-collapse collapse">
                    <div class="container">
                        <a class="navbar-brand" href="#!/"><%= sails.config.settings.logo_text %></a>
                        
                        <span id="main-nav"></span>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.yamm -->
        </div>
        <!-- /.navbar -->
    </header>

    <div id="feedback-flash-error" class="feedback-flash-error alert alert-danger" style="display:none"></div>

    <noscript>
    <style type="text/css">html,body{min-height:100%}body{position:relative;overflow:hidden}header,main{display:none}.noscript{position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999999;background-color:#FFF;overflow:hidden}.noscript > div{font-size:2em;text-align:center;margin:50px auto;height:100%;line-height:1em;}</style>
    <div class="noscript" id="noscript"><div>Vui lòng bật javascript, hoặc nâng <a href="http://browsehappy.com/" target="_blank">cấp trình duyệt web</a>.</div></div>
    </noscript>

    <main id="main-view">
        <span class="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Loading ...</span>
    </main>


    <footer></footer>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <script type="text/javascript" data-main="/js/v1/client/shim" src="/lib/requirejs/require.js"></script>
    <!--//SCRIPTS--><!--//SCRIPTS END-->
    
    <% if (sails.config.settings.google_analytic) { %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= sails.config.settings.google_analytic %>', 'auto');
      ga('send', 'pageview');

    </script>
    
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics-lvduit.rhcloud.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//analytics-lvduit.rhcloud.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>

    <% } %>
    <% if (sails.config.settings.sumo_site_id) { %>
    <script src="//load.sumome.com/" data-sumo-site-id="<%= sails.config.settings.sumo_site_id %>" async="async"></script>
    <% } %>
</body>
</html>
